.titleContainer {
    display: flex;
    justify-content: center;
}
.turnContainer {
    display: flex;
    justify-content: center;
}
.catagoryContainer {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.catagoryContainer div {
    border: solid black;
    padding: 2vh;
    flex: 1;
}
.row1 {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.row1 div {
    border: solid black;
    padding: 2vh;
    flex: 1;
}
.row2 {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.row2 div {
    border: solid black;
    padding: 2vh;
    flex: 1;
}
.row3 {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.row3 div {
    border: solid black;
    padding: 2vh;
    flex: 1;
}
.row4 {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.row4 div {
    border: solid black;
    padding: 2vh;
    flex: 1;
}
.row5 {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.row5 div {
    border: solid black;
    padding: 2vh;
    flex: 1;
}
.inputContainer {
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.inputContainer input {
    font-size: xx-large;
    width: 30%;
}
.guessPassContainer {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-bottom: 5vh;
}
.guessPassContainer div {
    border: solid black;
    font-size: xx-large;
    padding: 0.8%;
}
.scoreContainer {
    display: flex;
    justify-content: center;
    gap: 30vw;
    margin-bottom: 5vh;
}
.scoreContainer div {
    font-size: larger;
}
.nextRoundContainer {
    display: flex;
    justify-content: right;
    margin-bottom: 5vh;
}
.nextRoundContainer .nextRoundBox {
    border: solid black;
    padding: 1%;
    background-color: antiquewhite;
}
.nextRoundContainer .nextRoundBox div {
    font-size: x-large;
}
.footer {
    display: flex;
    justify-content: center;
}
.footer div {
    background-color: antiquewhite;
    border: solid black;
    padding: 1%;
    font-size: xx-large;
}